    <h1>Student Result</h1>
<form action="/admin/result" method="post">
    <table>
        <tr>
            <td>Div:</td>
            <td><input type="text" name="division"></td>
            <td>Std:</td>
            <td><input type="text" name="stdd"></td>
        </tr>
        <tr>
            <td>Student Name:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Sub1:</td>
            <td><input type="text" name="sub1"></td>
        </tr>
        <tr>
            <td>Sub2:</td>
            <td><input type="text" name="sub2"></td>
        </tr>
        <tr>
            <td>Sub3:</td>
            <td><input type="text" name="sub3"></td>
        </tr>
        <tr>
            <td>Sub4:</td>
            <td><input type="text" name="sub4"></td>
        </tr>
        <tr>
            <td>Sub5:</td>
            <td><input type="text" name="sub5"></td>
        </tr>
        <tr>
            <td>Submit:</td>
            <td><input type="submit" name="Add"></td>
        </tr>
    </table>
</form>